#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

li {
  text-align: left;
}

.align-left {
  text-align: left;
}

.width-100vw {
  width: 100vw;
}
